@model GameTracker.ViewModel.Games.GameViewModel

<div>
    <img src="@Model.ImageUrl" />
    <h2>@Model.Name</h2>
    <p>Жанр: @Model.Genre.ToString()</p>
    <p>Дата выпуска: @Model.ReleaseDate.ToString("dd.MM.yyyy")</p>
    <p>Описание: @Model.Description</p>
    <p>Разработчик: @Model.DeveloperName</p>
    <p>Издатель: @Model.PublisherName</p>

    @if (Model.Status == GameTracker.Entity.Games.GameStatus.Nothing)
    {
        <p>Игры нет в вашей библиотеке</p>
        <form 
            asp-action="AddGameToLibrary" 
            asp-controller="UserLibrary" 
            asp-route-gameId ="@Model.Id" 
            asp-antiforgery="true"
            method="post">

            <button type="submit" class="button_submit">Добавить игру в библиотеку</button>
        
        </form>
    }
    else
    {
        <p>@Model.Status</p>
        <p>Ваша оценка - @Model.Rate</p>
    }
</div>