@model GameTracker.ViewModel.Account.AccountPageViewModel;

@{
    ViewData["Title"] = "Профиль";
}

<div class="profile_page">
    <div class="profile_container">
        <div class="profile_header">
            <h3>@Model.Nickname</h3>
        </div>
        <div class="profile_main">
            <p style="margin-bottom: 20px">Пройдено игр: @Model.UserGames.Count</p>
            <p>Логин: @Model.Login</p>
            <p style="margin-bottom: 20px">Email: @Model.Email</p>
            <p>Роль: @Model.Role</p>
            <p>Статус: @Model.Status</p>
        </div>
        <form asp-action="Logout" asp-controller="Login" method="post">
            <button class="button_default">Выйти из аккаунта</button>
        </form>
        <form asp-action="DeleteUser" asp-controller="Profile" method="post">
            @Html.AntiForgeryToken()
            <button class="button_danger">Удалить аккаунт</button>
        </form>

        @if (Model.Role == GameTracker.Entity.Account.UserRole.Admin)
        {
            <div>
                <a asp-action="Index" asp-controller="Admin"><button class="button_default">ADMIN PANEL</button></a>
            </div>
        }

        @if(Model.Role == GameTracker.Entity.Account.UserRole.Moderator || Model.Role == GameTracker.Entity.Account.UserRole.Admin)
        {
            <div>
                <a asp-action="Index" asp-controller="Moder"><button class="button_default">MODER PANEL</button></a>
            </div>
        }
    </div>

    @if (Model.Status == GameTracker.Entity.Account.UserStatus.Inactive)
    {
        var viewModel = new GameTracker.ViewModel.Account.ConfirmEmailViewModel();
        @await Html.PartialAsync("~/Views/Shared/_ConfirmEmailPartial.cshtml", viewModel)
    }
    else
    {
        var libraryViewModel = new GameTracker.ViewModel.Games.UserGameLibraryViewModel(Model.UserGames);
        @await Html.PartialAsync("~/Views/Shared/_UserGameLibraryPartial.cshtml", libraryViewModel)
    }
</div>