@model GameTracker.Entity.Account.User

@{
    ViewData["Title"] = "Профиль";
}

<div class="text-center">
    <h1 class="display-4">Профиль пользователя</h1>

    <div>
        @if (!string.IsNullOrEmpty(Model.AvatarPath))
        {
            <img src="@Model.AvatarPath" alt="Аватар" style="width:150px; height:150px; border-radius:50%;" />
        }
        else
        {
            <div style="width:150px; height:150px; background-color:#ccc; border-radius:50%; margin:0 auto;"></div>
        }
    </div>

    <div class="mt-4">
        <h3>Id: @Model.Id</h3>
        <h3>Ник: @Model.Nickname</h3>
        <h3>Логин: @Model.Login</h3>
        <h3>Email: @Model.Email</h3>
    </div>

    @if (Model.Status == GameTracker.Entity.Account.UserStatus.Inactive)
    {
        <div class="alert alert-warning mt-4" role="alert">
            Ваш аккаунт не подтвержден. Пожалуйста, введите код подтверждения, отправленный на вашу почту.
        </div>

        <div class="mt-5">
            <form asp-action="SendCode" asp-controller="Profile" method="post">
                <button type="submit" class="btn btn-success">Отправить код подтвеждения почты</button>
            </form>
        </div>

        @Html.Partial("_ConfirmEmail", new GameTracker.ViewModel.Account.ConfirmEmailViewModel())
    }
    else if (Model.Status == GameTracker.Entity.Account.UserStatus.Active)
    {
        <div class="alert alert-success mt-4" role="alert">
            Ваш аккаунт подтвержден.
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-4" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }



    <div class="mt-5">
        <form asp-action="DeleteUser" asp-controller="Profile" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">Удалить аккаунт</button>
        </form>
    </div>

    <div class="mt-5">
        <form asp-action="Logout" asp-controller="Auth" method="post">
            <button type="submit" class="btn btn-danger">Выйти из аккаунта</button>
        </form>
    </div>
</div>