@model GameTracker.ViewModel.Account.AccountPageViewModel;

@{
    ViewData["Title"] = "Профиль";
}

<div class="profile_page">
    <div class="profile_container">
        <div class="profile_header">
            <h3>@Model.AccountData.Nickname</h3>
        </div>
        <div class="profile_main">
            <p>Пройдено игр: @Model.UserGames.UserGames.Count</p>
            <p>Логин: @Model.AccountData.Login</p>
            <p>Email: @Model.AccountData.Email</p>
            <p>Роль: @Model.AccountData.Role</p>
            <p>Статус: @Model.AccountData.Status</p>
        </div>
        <form asp-action="Logout" asp-controller="Login" method="post">
            <button class="button_default">Выйти из аккаунта</button>
        </form>
        <form asp-action="DeleteUser" asp-controller="Profile" method="post">
            @Html.AntiForgeryToken()
            <button class="button_danger">Удалить аккаунт</button>
        </form>

        @if (Model.AccountData.Role == GameTracker.Entity.Account.UserRole.Admin)
        {
            <div>
                <a asp-action="Index" asp-controller="Admin"><button class="button_default">ADMIN PANEL</button></a>
            </div>
        }

        @if (Model.AccountData.Role == GameTracker.Entity.Account.UserRole.Moderator || Model.AccountData.Role == GameTracker.Entity.Account.UserRole.Admin)
        {
            <div>
                <a asp-action="Index" asp-controller="Moder"><button class="button_default">MODER PANEL</button></a>
            </div>
        }
    </div>

    @if (Model.AccountData.Status == GameTracker.Entity.Account.UserStatus.Inactive)
    {
        @await Html.PartialAsync("~/Views/Shared/_ConfirmEmailPartial.cshtml", Model.ConfirmEmail)
    }
    else
    {
        @await Html.PartialAsync("~/Views/Shared/_UserGameLibraryPartial.cshtml", Model.UserGames)
    }
</div>