@model GameTracker.ViewModel.Games.UserGameLibraryViewModel

<div class="row g-4">
    <form asp-action="Page" asp-controller="Profile">
        <select name="filter">
            @if (Model.Filter == "all")
            {
                <option value="all" selected>Все игры</option>
            }
            else
            {
                <option value="all">Все игры</option>
            }
            @if (Model.Filter == "playing")
            {
                <option value="playing" selected>Сейчас играю</option>
            }
            else
            {
                <option value="playing">Сейчас играю</option>
            }
            @if (Model.Filter == "completed")
            {
                <option value="completed" selected>Завершил</option>
            }
            else
            {
                <option value="completed">Завершил</option>
            }
            @if (Model.Filter == "planned")
            {
                <option value="planned" selected>Отложил</option>
            }
            else
            {
                <option value="planned">Отложил</option>
            }
            @if (Model.Filter == "dropped")
            {
                <option value="dropped" selected>Бросил</option>
            }
            else
            {
                <option value="dropped">Бросил</option>
            }
        </select>
        <button class="btn btn-primary mt-2" type="submit">Фильтровать</button>
    </form>

    @foreach (var game in Model.UserGames)
    {
        <div class="col-md-4 col-sm-6 col-12">
            <a asp-controller="Game"
               asp-action="Game"
               asp-route-gameId="@game.Id"
               style="text-decoration: none">
                <div class="card h-100 shadow-sm hover-shadow">
                    <img src="@game.ImageUrl" class="card-img-top" alt="@game.Name" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@game.Name</h5>
                        <p class="card-text text-muted">(@game.Year)</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@if (@Model.UserGames.Count == 0)
{
    <h3 class="mt-3">В вашей библиотеке нет игр с выбранным статусом.</h3>
}
